:root {
    --main-text-color: rgb(68,62,41);
    
}

* {
    padding: 0;
    margin: 0;
    background-color: beige;
    color: var(--main-text-color);
    
}



h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 15px 0px 15px 0px;
    

}

header {
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
nav li {
    display: inline-block;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
  
nav a:hover {
    border-bottom: 2px solid rgb(175, 0, 0);
}

@media screen and (max-width: 500px) {
    h1 {
        color:rgb(175, 0, 0)
    }
}
